decoder/FixDecoder/FixDecoder.xcodeproj/project.xcworkspace/xcuserdata/luisalonsomurillorojas.xcuserdatad/UserInterfaceState.xcuserstate
encoder/FixEncoder/FixEncoder.xcodeproj/project.xcworkspace/xcuserdata/luisalonsomurillorojas.xcuserdatad/UserInterfaceState.xcuserstate
encoder/FixEncoder/FixEncoder.xcodeproj/xcuserdata/luisalonsomurillorojas.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist